body {
	background-color: black;
	background-image: url('https://i.pinimg.com/originals/f1/8e/ff/f18effd56ab46fd9b82981b6ca26dca5.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	width: 100vw;
}
