.header {
  text-align: center;

  &__title {
    background-color: rgba(163, 183, 249);
    color: black;
    font-size: 1.5rem;
    margin: 0;
    @mixin atSmall {
      background-color: yellow;
      font-size: 2rem;
    }
    @mixin atMedium {
      background-color: green;
    }
    @mixin atLarge {
      background-color: purple;
    }
    @mixin atExtraLarge {
      background-color: steelblue;
    }
  }
}
