.stats {
  display: flex;
  color: lightgoldenrodyellow;
  justify-content: space-evenly;
  background-color: black;

  &__title {
    text-align: center;
    font-size: 1.2rem;
  }
  &__games-played {
    border: 1px solid;
    text-align: center;
  }
  &__accuracy {
    text-align: center;
    border: 1px solid;
  }
  &__attempts {
    text-align: center;
    border: 1px solid;
  }
  & p {
    margin: 0;
  }
}
